@model FinalWeb.Models.AGENT

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết</h2>

<div>
    <h4>Đại lý:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên đại lý:
            @*@Html.DisplayNameFor(model => model.AGENTNAME)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AGENTNAME)
        </dd>

        <dt>
            Địa chỉ đại lý:
            @*@Html.DisplayNameFor(model => model.AGENTADDRESS)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AGENTADDRESS)
        </dd>

        <dt>
            Email đại lý:
            @*@Html.DisplayNameFor(model => model.AGENTEMAIL)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AGENTEMAIL)
        </dd>

        <dt>
            SĐT:
            @*@Html.DisplayNameFor(model => model.AGENTPHONE)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AGENTPHONE)
        </dd>

        <dt>
            Mật khẩu:
            @*@Html.DisplayNameFor(model => model.AGENTPASSWORD)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AGENTPASSWORD)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.AGENTID })<br />
    @Html.ActionLink("Xóa tài khoản","Delete", new { id = Model.AGENTID })<br />
    @Html.ActionLink("Quay lại trang chủ", "Index")<br />
</p>
