@model IEnumerable<FinalWeb.Models.AGENT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AGENTNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AGENTADDRESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AGENTEMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AGENTPHONE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AGENTPASSWORD)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AGENTNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AGENTADDRESS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AGENTEMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AGENTPHONE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AGENTPASSWORD)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AGENTID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AGENTID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AGENTID })
        </td>
    </tr>
}

</table>
