@model FinalWeb.Models.ORDER

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết đơn hàng</h2>

<div>
    <h4>Đơn hàng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã đại lý:
            @*@Html.DisplayNameFor(model => model.AGENTID)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AGENTID)
        </dd>

        <dt>
            Mã đơn vị vận chuyển:
            @*@Html.DisplayNameFor(model => model.DELIVERYNOTE_ID)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DELIVERYNOTE_ID)<br />
            Phí giao hàng: @ViewBag.delivery đ
        </dd>

        <dt>
            Ngày đặt hàng:
            @*@Html.DisplayNameFor(model => model.ORDERDATE)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORDERDATE)
        </dd>

        <dt>
            Tình trạng đơn hàng:
            @*@Html.DisplayNameFor(model => model.ORDERSTATUS)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORDERSTATUS)
        </dd>

        <dt>
            Tình trạng thanh toán:
            @*@Html.DisplayNameFor(model => model.PAYMENTSTATUS)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAYMENTSTATUS)
        </dd>

        <dt>
            Phương thức thanh toán:
            @*@Html.DisplayNameFor(model => model.PAYMENTMETHOD)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAYMENTMETHOD)
        </dd>

    </dl>
</div>
<div>
    @foreach (var data in ViewBag.OrderDetail)
    {
        if (data.ORDERID == ViewBag.Id)
        {
            <dl class="dl-horizontal">
                <dd>Mã chi tiết hóa đơn: @data.ODETAIL_ID</dd>
                <dd>Mã hóa đơn: @data.ORDERID</dd>
                <dd>Sản phẩm: @data.PRODUCTID </dd>

                @foreach (var p in ViewBag.Product)
                {
                    if (@data.PRODUCTID.Equals(p.PRODUCTID))
                    {
                        <dd>@p.PRONAME</dd>
                        <dd>@p.PROPRICE</dd>
                        <dd><img src="~/Uploads/products/@p.PROIMG"></dd>
                    }

                }

                <dd>Số lượng: @data.BUYQUANTITY</dd>
            </dl>
        }

    }
</div>
<div style="color:red; font-size:large">
    Tổng cộng:@Html.DisplayFor(model => model.Total)
</div>
@if (Model.PAYMENTMETHOD == "Tiền mặt")
{
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.ORDERID }) |*@
        @Html.ActionLink("Quay lại danh sách đơn hàng", "Index")
    </p>
    <p>
        @Html.ActionLink("Xác nhận đã nhận được hàng", "MarkReceive/", new { OrderID = Model.ORDERID });
    </p>
}

else
{
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.ORDERID }) |*@
        @Html.ActionLink("Quay lại danh sách đơn hàng", "Index")
    </p>
    <p>
        @Html.ActionLink("Chuyển khoản qua VNPAY", "Payment", "ORDERs")
    </p>
    if(Model.PAYMENTSTATUS=="Đã thanh toán thành công")
    { 
        <p>
            @Html.ActionLink("Xác nhận đã nhận được hàng", "MarkReceive/", new { Model.ORDERID });
        </p>
    }
    else 
    { 
        <p></p>
    }
}
