@model IEnumerable<FinalWeb.Models.ORDER>

@{
    ViewBag.Title = "Lịch sử đơn hàng";
}

<h2>Lịch sử đơn hàng</h2>

<h7>
    Stk: 0123456789
    <br />
    Sđt Momo: 0123456789
    <br />
    Nội dung chuyển khoản:
    <br />[Tên]+"_"+[ORDERID]+"_"+[ORDER DETAIL ID]
    <br />Quý khách chỉ nhận được hàng khi thanh toán thành công!
    <br />
</h7>
<p>
    @Html.ActionLink("Tạo đơn hàng mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mã đơn hàng:
        </th>
        <th>
            Mã đại lý:
        </th>
        <th>
            Mã giao hàng:
        </th>
        <th>
            Ngày đặt hàng:
        </th>
        <th>
            Tình trạng đơn hàng:
        </th>
        <th>
            Tình trạng thanh toán:
        </th>
        <th>
            Phương thức thanh toán
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.Order)
    {
        if (@item.AGENTID.Equals(@Session["AGENTID"]))
        {
                <tr>
                    <td>
                        @item.ORDERID
                    </td>
                    <td>
                        @item.AGENTID
                    </td>
                    <td>
                        @item.DELIVERYNOTE_ID
                    </td>
                    <td>
                        @item.ORDERDATE
                    </td>
                    <td>
                        @item.ORDERSTATUS
                    </td>
                    <td>
                        @item.PAYMENTSTATUS
                    </td>
                    <td>
                        @item.PAYMENTMETHOD
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id=item.ORDERID }) |*@
                        @Html.ActionLink("Details", "Details", new { id = item.ORDERID })
                        @*@Html.ActionLink("Delete", "Delete", new { id=item.ORDERID })*@
                    </td>
                </tr>
        }

    }

</table>
